window-rule {
    match app-id="kitty"
    // match app-id="kitty"

    // opacity 0.90
    background-effect {
        blur true
        xray true
    }
}


// layer-rule {
//     match namespace="^noctalia$"
//
//     background-effect {
//         blur true
//         xray true
//     }
// }
